name: molecule test
on: push

jobs:
  molecule:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          path: "${{ github.repository.mehdi-wsc.nginx }}"
      - uses: gofrolist/molecule-action@master
